.CircleMenu {
    position: fixed;
    bottom: 10em;
    left: 2.5em;
}

.circle {
  display: table;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    background: deepskyblue;
}

.pics {

}

.buttonContent {
    display: table-cell;
    text-align: center;
    margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
    vertical-align: middle;
    color: black;
    font-size: 90%;
    text-decoration: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
